[submodule "jdk-sandbox"]
	path = jdk-sandbox
	url = https://github.com/openjdk/jdk-sandbox
	branch = unixdomainchannels
[submodule "xcbproto"]
	path = xcbproto
	url = https://gitlab.freedesktop.org/xorg/proto/xcbproto
